
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(224, 99, 99);
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #000;
}
main{
  width: 360px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 55px 20px 90px 24px;
  background: rgb(255, 255, 255);
}
.menu-button{
  background: none;
  border: none;
  margin-bottom: 23px;
}
h1{
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  margin-bottom: 17px;
}
input{
  background-color: rgb(239, 239, 239);
  border-radius: 12px;
  border: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 29px;
}
.product-row{
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.product-item{
  display: flex;
  flex-direction: column;
}
.img-block{
  background-color: rgb(234, 226, 183);
  width: 74px;
  height: 74px;
  padding: 18px 19px 19px 18px;
  margin-bottom: 8px;
  border-radius: 12px;
}
.img-block_disactive{
  background-color: rgb(239, 239, 239);
}
h4{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.disactive{
  color: #c4c4c4;
}
h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;
}
.product-proposition{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.proposition-item{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #e5e5e5;
}
h5{
  color: #d62828;
  font-size: 14px;
  font-weight: 500;
}